@import 'config';

.comments {
  text-align: center;
  padding: 1rem;
}

.discussion h2 {
  margin: 0 0 20px;
  font-size: 2rem;
  text-align: center;
}

.post {
  border-top: 1px solid $shade-color;
  padding: 1.2rem;
  font-size: 0.9rem;
  line-height: 2rem;
  color: $light-text;
  text-align: left;
  font-weight: 400;
}

.posted-by {
  &-author a {
    color: $user-color;

    &:hover {
      text-decoration: underline;
    }
  }
  
  &-date {
    margin-left: 5px;
    display: inline-block;
  }
}

.comment-body {
  font-size: 1rem;
  line-height: 2rem;
  text-align: left;
  color: $medium-color;
  overflow-x: hidden;
  margin: 10px 0;
}

.discuss {
  border: 1px solid $shade-color;
  border-radius: 6px;
  background: $background-color;
  margin: 20px 0;
  padding: 1rem;
  text-align: center;
  
  textarea {
    resize: none;
    font-size: 1rem;
    width: 93.8%;
    background: $white-color;
    border: 1px solid $shade-color;
    border-radius: 4px;
    padding: 12px;
    margin: 10px;
    min-height: 86px;
  }
}
