.comments {
  text-align: center;
  padding: 20px;
}

.discussion h2 {
  margin: 0 0 20px;
  font-size: 26px;
  text-align: center;
}

.post {
  border-top: 1px solid #ddd;
  padding: 20px;
  font-size: 15px;
  line-height: 24px;
  color: #999;
  text-align: left;
  font-weight: 400;
}

.posted-by-author {
  color: #1e8439;
}

.posted-by-date {
  margin-left: 5px;
  display: inline-block;
}

.comment-body {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #555;
  overflow-x: hidden;
  margin: 10px 0;
}

.discuss {
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #f6f6f6;
  margin: 20px 0;
  padding: 15px;
  text-align: center;
}

.discuss textarea {
  resize: none;
  font-size: 16px;
  width: 93.8%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 12px;
  margin: 10px;
  min-height: 86px;
}