// .centeredContainer {
//   width: 1016px;
//   border: 1px solid rgba(119, 130, 135, .4);
//   padding: 10px;
//   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
//   background-color: #f6f6f6;
//   -webkit-border-radius: 10px 10px 0 0;
//   min-height: 100px;
//   margin: 40px auto 36px;
// }

// .attachedImages {
//   position: relative;
//   padding: 2px;
//   width: 100%;
//   z-index: 1;
//   height: 137;
//   -webkit-box-sizing: border-box;
// }

// .fileset_placeholder {
//   background-color: #eee;
//   padding: 40px;
//   -webkit-box-shadow: inset 0 0 3px 3px #dfdfdf;
//   text-align: center;
//   left: 12px;
//   right: 12px;
//   top: 9px;
//   bottom: 12px;
//   color: #aaa;
//   -webkit-border-radius: 10px;
//   cursor: pointer;
//   border: 1px solid #dedede;
// }

// .fileset_textTainer {
//   font-size: 20px;
//   vertical-align: text-top;
//   margin-right: 6px;
// }

// .plus {
//   font-size: 42px;
//   vertical-align: text-top;
//   margin-right: 6px;
//   line-height: 20px;
//   -webkit-font-smoothing: antialiased;
// }

// .addPlus {
//   font-size: 20px;
//   line-height: 20px;
//   color: #b0b0b0;
// }

// .navBarButtons {
//   display: flex;
//   justify-content: space-between;
// }

// .stepButton {
//   -webkit-border-radius: 4px;
//   font-size: 14px;
//   background-color: #f6f6f6;
//   margin-top: 10px;
//   margin-right: 10px;
//   padding: 6px 12px;
//   cursor: pointer;
// }

// .stepButton:hover {
  //   background-color: #eee;
  // }
  
.submit-button {
  // border-color: #dedede;
  margin: 10px;
  background-color: #f6f6f6;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 10px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
}

.title {
  color: black;
}

.submit-button:hover {
  color: #fff;
  border-color: #cf6000;
  background-color: #e86c00;
}

.publishButton {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 30px;
  padding: 6px 12px;
  cursor: pointer;
}

.publishButton:hover {
  color: #fff;
  border-color: #cf6000;
  background-color: #e86c00;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
}

.stepDetailBox {
  width: 800px;
  margin: 30px auto;
  border: 1px solid #ccc;
  background-color: #f6f6f6;
  border-radius: 12px;
}

.new-recipe-title {
  margin: 12px 12px 0 12px;
  font-weight: 700;
  height: 33px;
  line-height: 26px;
  opacity: 100%;
  text-align: center;
}

.stepTitleInput {
  width: 99%;
  font-weight: 700;
  font-size: 18px;
  color: #555;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.textEditor {
  min-height: 70px;
  border: 1px solid #ddd;
  margin: 0 12px 12px 12px;
  resize: none;
  width: 95.8%;
}