.submit-button {
  margin: 10px;
  background-color: #f6f6f6;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 10px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
}

.title {
  color: black;
}

.submit-button:hover {
  color: #fff;
  border-color: #cf6000;
  background-color: #e86c00;
}

.publishButton {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 30px;
  padding: 6px 12px;
  cursor: pointer;
}

.publishButton:hover {
  color: #fff;
  border-color: #cf6000;
  background-color: #e86c00;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
}

.stepDetailBox {
  width: 800px;
  margin: 30px auto;
  border: 1px solid #ccc;
  background-color: #f6f6f6;
  border-radius: 12px;
}

.new-recipe-title {
  margin: 12px 12px 0 12px;
  font-size: 24px;
  font-weight: 700;
  height: 33px;
  line-height: 26px;
  opacity: 100%;
  text-align: center;
}

.new-recipe-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.stepTitleInput {
  width: 99%;
  font-weight: 700;
  font-size: 18px;
  color: #555;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.textEditor {
  min-height: 70px;
  border: 1px solid #ddd;
  margin: 0 12px 12px 12px;
  resize: none;
  width: 95.8%;
}

.inline {
  display: flex;
}

.ingredient-container {
  border: 1px solid #ddd;
  margin: 0 12px 12px 12px;
  width: 93%;
  border-radius: 4px;
  padding: 10px;
  background-color: white;
}

.ingredient-list {
  display: inline-flex;
  margin: 0 10px;
  line-height: 24px;
  color: #555;
}

.add-ingredient {
  font-size: 14px;
  margin: 10px;
  padding: 7px;
  width: 50%;
}

.add-ingredient-list {
  color: #333;
  border: 1px solid #ccc;
  line-height: 24px;
  border-radius: 3px;
  padding: 5px;
  display: inline-flex;
}

.add-ingredient-container {
  display: inline-flex;
  margin: 10px;
}

.add-ingredient-button {
  padding: 10px;
  margin: 10px;
  background-color: #f6f6f6;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.add-ingredient-button:hover {
  color:  white;
  background-color: #e86c00;
  border: 1px solid #cf6000;
}

.delete-ingredient {
  margin: 0 10px;
  color: #555;
}

.delete-ingredient:hover {
  color: red;
  cursor: pointer;
}