@import 'config';

.footer {
  height: 150px;
  background-color: $nav-color;
  padding: 30px;
  
  &-flex {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    
    a {
     color: $light-color;
     margin-right: 10px;
     
     &:hover {
       color: $white-color;
     }
    }
  }
  
  h1 {
    font-size: 1.4rem;
    font-weight: 500;
    color: $white-color;
    margin-bottom: 10px;
  }
  
  li {
    margin-bottom: 7px;
    font-size: 1rem;
    color: $light-color;

    i {
      padding-right: 10px;
    }
  }
  
  img {
    width: 130px;
    height: 100%;
  }
}