@import 'config';

.footer {
  box-sizing: border-box;
  height: 246px;
  background-color: $nav-color;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column wrap;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  padding: 30px 2.5vw 10px;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer-flex a {
  color: #bbb;
  text-decoration: none;
}

.footer-flex a:hover {
  text-decoration: underline;
}

.footer h1 {
  margin-right: 50px;
  font-size: 18px;
  color: #fff;
}

.footer li {
  margin-top: 10px;
  font-size: 14px;
  color: #bbb;
}

.footer img {
  width: 130px;
  height: 100%;
  // margin-top: 70px;
  // margin-left: 120px;
  // margin-bottom: 20px;
}

.footer hr {
  justify-content: center;
  border: 0.5px solid #bbb;
  width: 90%;
}