@import 'config';

.login-form-container {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  width: 400px;
  position: absolute;
  backdrop-filter: opacity(50%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  margin-left: 50px;
}

.login-form hr {
  border-top: 1 px solid #fff;
  width: 34%;
  display: inline-block;
}

.login-form {
  margin-bottom: 10px;
}

.login-form span {
  position: relative;
  text-align: center;
  color: $white-color;
  top: -7px;
  font-size: 14px;
  padding: 0 30px;
}

.login-form-box {
  padding: 70px 30px;
}

.input-text {
  width: 85%;
  font-size: 16px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.login-form-box p {
  text-align: center;
  font-size: 14px;
  color: #fff;
}

.login-form-box a {
  color: #fff;
}

.centering-div {
  text-align: center;
}

.login-demo-user {
  text-align: center;
  background-color: #008ae6;
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
  color: $white-color;
  font-size: 1.1em;
  border-radius: 5px;
  width: 60%;
  height: 42px;
}

.login-demo-user:hover {
  background: #31B0D5;
}

.input-text {
  padding-left: 10px;
  margin-bottom: 15px;
}

::placeholder {
  color: $light-text;
}

.session-submit {
  width: 90%;
  font-size: 16px;
  height: 35px;
  border-radius: 5px;
  background: #f9ac17;
  border: 1px solid #e5991e;
  color: $white-color;
  margin-bottom: 15px;
}

.session-submit:hover {
  background: #e68a00;
  cursor: pointer;
}

.errors {
  box-sizing: border-box;
  background-color: red;
  list-style: none;
  border-radius: 5px;
  padding: 10px;
  color: $white-color;
  font-weight: bold;
  font-size: 10pt;
}