@import 'config';

.login {

  &-bg {
    background-image: image-url("cutting_board.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
  }
  
  &-form {
    margin-bottom: 10px;

    hr {
      border-top: 1 px solid $white-color;
      width: 34%;
      display: inline-block;
    }
    
    span {
      position: relative;
      text-align: center;
      color: $white-color;
      top: -7px;
      font-size: 14px;
      padding: 0 30px;
    }

    &-container {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 5px;
      width: 400px;
      backdrop-filter: opacity(50%);
      backdrop-filter: blur(10px);
      margin-left: 50px;
    }
    
    &-box {
      padding: 70px 30px;
      
      p {
        text-align: center;
        font-size: 14px;
        color: $white-color;
      }
      
      a {
        color: $white-color;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
  &-demo-user {
    text-align: center;
    background-color: $demo-user;
    cursor: pointer;
    border: none;
    margin-bottom: 20px;
    color: $white-color;
    font-size: 1.1em;
    border-radius: 5px;
    width: 60%;
    height: 42px;
    
    &:hover {
      background-color: $demo-hover;
    }
  }
}

.input-text {
  width: 85%;
  font-size: 16px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding-left: 10px;
  margin-bottom: 15px;
}

.centering-div {
  text-align: center;
}

.session-submit {
  width: 90%;
  font-size: 16px;
  height: 35px;
  border-radius: 5px;
  background: $submit-color;
  border: 1px solid $submit-border-color;
  color: $white-color;
  margin-bottom: 15px;
  
  &:hover {
    background: $submit-border-color;
    cursor: pointer;
  }
}

.errors {
  box-sizing: border-box;
  background-color: $error-color;
  list-style: none;
  border-radius: 5px;
  padding: 10px;
  color: $white-color;
  font-weight: bold;
  font-size: 10pt;
}