@import 'config';

.site-header {
  &-top {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    background-color: $nav-color;
    height: 38px;
    justify-content: space-between;
    
    img {
      max-height: 28px;
      width: auto;
    }

    ul {
      display: flex;
      align-items: center;
    }

    li {
      padding: 10px;
      color: $shade-color;
      font-size: 0.8em;
    }
    
    a {
      color: $shade-color;
    }
  }
  
  &-right {
    display: flex;
    align-items: center;
    color: $shade-color;
    font-size: 0.8rem;
    padding: 20px;

    a {
      align-items: center;
      display: inline-flex;
      color: white;
      margin: 2px;
    }
  }
  &-bottom {
    border-bottom: 1px solid $shade-color;
    display: flex;
    background: #eee;
    justify-content: space-between;
    
    &-left {
      font-family: 'Open Sans', sans-serif;
      display: flex;
      font-size: 1.6em;
      font-weight: 900;
      height: 88px;
      align-items: center;
      
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black;
      }
      
      button {
        display: flex;
        margin: 30px;
        padding: 6px 12px;
        color: $dark-color;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.55em;
        border-radius: 5px;
        background: #fff;
        cursor: pointer;
      }
      
      img {
        height: 90px;
      }
    }

    &-right {
      display: flex;
      font-size: 0.8em;
      color: $dark-color;
      align-items: center;
      margin: 20px;
      
      a {
        color: $dark-color;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}