.new-recipe-image {
  background-image: image-url("empty-table.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 30px;
}

.new-recipe-image button {
  margin-left: auto;
  margin-right: auto;
}

.new-recipe-text {
  color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 50px;
  font-size: 3em;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.new-category {
  color: white;
  font-size: 18px;
  padding: 30px;
}

.category-input {
  width: 60%;
  font-weight: 700;
  font-size: 18px;
  color: #555;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-left: 20px;
}

.new-recipe-wrapper {
  background: rgba(0, 0, 0, 0.3);
  width: 60vw;
  padding: 40px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.new-title {
  // padding: 10px;
  // opacity: 100%;
}

.new-recipe-text h1 {
  font-family: 'BenchNine', sans-serif;
  font-size: 44pt;
  letter-spacing: 0, 02em;
  font-weight: 700;
}

.new-recipe-text p {
  font-size: 18px;
  line-height: 1.4;
}
