.not-found {
  background-image: image-url("broken-plate.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.not-found-text {
  position: fixed;
  color: white;
  width: 60%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 30px;
  top: 80px;
  font-size: 3em;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.not-found-text h1 {
  font-family: 'BenchNine', sans-serif;
  font-size: 44pt;
  letter-spacing: 0, 02em;
  font-weight: 700;
}

.not-found-text p {
  font-size: 18px;
  line-height: 1.4;
}

.not-found-text a {
  color: white;
}