.profile-header {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.profile-avatar-container {
  display: inline-flex;
  position: relative;
}

.profile-avatar {
  margin: 10px 0 0;
  width: 116px;
  height: 116px;
  border-radius: 58px;
  -webkit-border-radius: 58px;
}

.profile-top {
  display: inline-block;
  vertical-align: middle;
  padding: 20px;
  text-align: left;
}

.profile-top h1 {
  font-size: 20px;
  margin: 10px 0 0;
  font-weight: 700;
}

.profile-header-stats {
  margin: 20px 0 15px;
  color: #777;
  font-weight: 400;
}