.recipe-index {
  margin: 0 auto;
  width: 70%;
  min-width: 960px;
  overflow: hidden;
  // display: flex;
  // justify-content: center;
}

.recipe-index-item {
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  min-width: 300px;
  // height: 250px;
  border: 2px solid red;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 10px 20px;
}