@import 'config';

.recipe {
  &-index {
    margin: 0 auto;
    width: 70%;
    min-width: 960px;
    overflow: hidden;
    
    &-item {
      display: inline-block;
      box-sizing: border-box;
      width: 300px;
      height: 360px;
      border: 1px solid $border-color;
      border-radius: 4px;
      margin: 10px 10px 20px;
      overflow: hidden;
      
      img {
        border-radius: 4px 4px 0 0;
        width: 300px;
        height: 250px;
        object-fit: cover;
      }
    }
  }
  
  &-info {
    padding: 10px 13px;
    margin-bottom: 10px;
    height: 50px;
    overflow: hidden;
    color: $light-text;
    font-size: 13px;
  }
  
  &-title {
    line-height: 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color: $dark-color;
    
    &:hover {
      text-decoration: underline;
    }
  }

  &-author {
    color: $medium-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &-category {
    color: $medium-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    padding: 7px 8px 8px;
    background-color: $almost-white-color;
    border-top: 1px solid $border-color;
  }
  
  &-full-wrapper {
    padding: 50px;
  }
}

.inline {
  display: flex;
}

.article {

  &-header {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: $light-text;
    text-align: center;
  }

  &-body {
    position: relative;
    padding-top: 20px;
    display: block;
    color: $dark-color;
    font-size: 20px;
    line-height: 32px;

    p {
      margin: 3px 0 20px;
      font-size: 20px;
      line-height: 32px;
      font-weight: 300;
      text-align: left;
      color: $medium-color;
      word-wrap: break-word;
    }

    h1 {
      color: $dark-color;
      font-weight: 700;
      font-size: 28px;
      line-height: 34px;
    }
  }    
  
  &-photo-container {
    overflow: hidden;
    border-radius: 10px;
    padding-bottom: 20px;
    
    img {
      border-radius: 10px;
      width: 100%;
      max-height: 500px;
      object-fit: none;
    }
  }
}

.header-title {
  color: $dark-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 10px;
}

.sub-header {
  line-height: 25px;
}

.upload-image {
  display: block;
  padding: 20px;
}

.image-container {
  padding-left: 20px;
  position: relative;
  object-fit: contain;
}

.thumbnail img{
  height: 120px;
  border-radius: 4px;
  margin: 15px;
}

.edit-recipe {
  &-button {
    color: $light-text;
    font-style: italic;
    padding: 10px;
    
    &:hover {
      text-decoration: underline;
      cursor: pointer;
      color: $black-color;
    }
  }
  
  &-link {
    text-decoration: none;
  }
}

.delete-recipe {
  font-size: 14px;
  
  &:hover {
    text-decoration: underline;
    color: $error-color;
    cursor: pointer;
  }
}

.title-link {
  text-decoration: none;
  
  h1 {
    color: $black-color;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

