.recipe-index {
  margin: 0 auto;
  width: 70%;
  min-width: 960px;
  overflow: hidden;
  // display: flex;
  // justify-content: center;
}

.recipe-index-item {
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  // min-width: 300px;
  height: 360px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px 10px 20px;
  overflow: hidden;
}

.recipe-index-item img {
  border-radius: 4px 4px 0 0;
  width: 300px;
  height: 250px;
  object-fit: cover;
}

.recipe-info {
  padding: 10px 13px;
  margin-bottom: 10px;
  height: 50px;
  overflow: hidden;
  color: #999;
  font-size: 13px;
}

.recipe-title {
  line-height: 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  color: #333;
}

.recipe-title:hover {
  text-decoration: underline;
}

.recipe-author {
  color: #555;
  text-decoration: none;
}

.recipe-author:hover {
  text-decoration: underline;
}

.recipe-category {
  color: #555;
  text-decoration: none;
}

.recipe-category:hover {
  text-decoration: underline;
}

.recipe-stats {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  font-size: 12px;
  color: #76736e;
  height: 15px;
  line-height: 15px;
  padding: 7px 8px 8px;
  background-color: #f6f6f6;
  border-top: 1px solid #e7e7e7;
}

.recipe-full-wrapper {
  padding: 50px;
}

.article-header {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: #999;
  text-align: center;
}

.header-title {
  color: #333;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 10px;
}

.sub-header {
  line-height: 25px;
}

.article-body {
  position: relative;
  display: block;
  color: #333;
  font-size: 20px;
  line-height: 32px;
}

.article-photo-container {
  // padding: 80px;
  // border: 2px solid red;
  // height: 100%;
  // object-fit: cover;
  // margin-left: auto;
  // margin-right: auto;
  overflow: hidden;
  border-radius: 10px;
}

.article-photo-container img {
  border-radius: 10px;
  // max-width: 100%;
  width: 100%;
  max-height: 500px;
  object-fit: none;
  // object-position: 50% 50%;
  // object-fit: contain;
  // object-position: center;
  // position: relative;
  // padding: 50px;
  // max-width: 933.333px;
  // margin: 40px;
  // vertical-align: middle;
}

.article-body p {
  margin: 3px 0 20px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  text-align: left;
  color: #555;
  word-wrap: break-word;
}
