@import 'config';

h2 {
  font-family: 'BenchNine', sans-serif;
  font-size: 2.2rem;
  margin-bottom: 15px;
  font-weight: 700;
}
.splash-info {
  display: inline-flex;
  margin: 10px;
  
  &-block {
    padding: 20px 40px;
    color: $dark-color;
    
    
    p {
      font-size: 18px;
      line-height: 1.2;
    }
  }
}

.joke {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  font-size: 1.3rem;
  text-align: center;
  font-style: italic;
}

.fact {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3rem;
  padding-bottom: 30px;
}