.project-step {
  padding: 0 20px;
  margin: 32px 0;
}

.project-step-title {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  margin: 0 0 20px;
}

.ingredients {
  margin: 0 30px;
  list-style: disc;
  line-height: 36px;
  overflow: initial;
}