.recipe-step {
  // padding: 50px;
  margin: 32px 0;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  text-align: left;
  color: #555;
}

.recipe-step-title {
  font-size: 24px;
  color: #333;
  text-align: center;
  font-weight: 700;
  margin: 0 0 20px;
}

.ingredients {
  color: #555;
  margin: 0 30px;
  list-style: disc;
  line-height: 36px;
  overflow: initial;
}