.recipe-step {
  // padding: 50px;
  margin: 32px 0;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  text-align: left;
  color: #555;
}

.edit-step-title {
  font-size: 18px;
  color: #333;
  font-weight: 700;
  margin: 10px;
  padding: 7px;
  width: 94.5%;
}

.recipe-step-title {
  font-size: 24px;
  color: #333;
  text-align: center;
  font-weight: 700;
  margin: 0 0 20px;
  padding-top: 20px;
}

.recipe-step-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.recipe-step-title input {
  font-size: 18px;
  margin: 10px;
  width: 60%;
}

.ingredients {
  color: #555;
  margin: 0 30px;
  list-style: disc;
  line-height: 36px;
  overflow: initial;
}

.step-box {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 15px;
  width: 88%;
  background-color: white;
}

.recipe-title-box {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 15px;
  width: 95%;
  background-color: white;
}

.recipe-title-box p {
  margin: 20px;
}
.step-box p {
  margin: 20px;
}

.step-edit-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-step {
  color: rgb(139, 139, 139);
  font-size: 24px;
  margin-left: 20px;
  margin-right: auto;
}

.delete-step:hover {
  color: red;
  cursor: pointer;
}