/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: #fff;
}

.site-header-top {
  justify-content: center;
  background-color: #555;
  color: #CACACA;
  height: 38px;
}

.site-header-bottom {
  height: 99px;
  background: #eee;
}

a {
  color: #CACACA;
}

.home-content-adspot {
  height: 450px;
  background: black;
  background-image: url("fine-dining.jpg");
}